.burguer-button
  &
    appearance: none
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding-top: 0
    padding-left: 0
    padding-right: 0
    padding-bottom: 0
    border-width: 0
    border-style: none
    border-color: transparent
    background-image: none
    background-color: transparent
    outline: none
    cursor: pointer

  > .bar
    display: block
    border-radius: 25px
    background-color: #000000
    transition: opacity .2s ease-in,
                transform .2s ease-out

  > .bar:nth-child(1)
      transform: translateY(-75%)

  > .bar:nth-child(3)
      transform: translateY(75%)

  &.-active
    > .bar:nth-child(2)
      opacity: 0

    > .bar:nth-child(1)
      transform: translateY(100%) rotate(45deg)

    > .bar:nth-child(3)
      transform: translateY(-100%) rotate(-45deg)
