.BurgerButton
  padding: 0 0 0 0
  border: 0 none transparent
  background: none transparent
  cursor: pointer

  .BurgerButton__bar
    display: block
    border-radius: 25px
    background-color: #000000
    transition: background-color .2s ease-in, transform .2s ease-out

    &:nth-child(1)
      transform: translateY(-75%)

    &:nth-child(3)
      transform: translateY(75%)

  &.BurgerButton--active .BurgerButton__bar
    &:nth-child(2)
      background-color: transparent

    &:nth-child(1)
      transform: translateY(100%) rotate(45deg)

    &:nth-child(3)
      transform: translateY(-100%) rotate(-45deg)
